<!doctype html>
<html class="no-js" lang="bimamaarschal">

<%- include('partials/head') %>

	<body>
		<%- include('partials/header2', { activePage: 'beranda' }) %>
			<section class="news-single section" style="padding-top: 5px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-2">
							<div class="row">
								<div class="col-12">
									<div class="comments-form">
										<h1 style="font-size: 18px;"><i class="fa-solid fa-compass"></i> Dashboard</h1>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-8 col-6">
							<div class="row">
								<div class="col-12">
									<div class="comments-form">
										<h1 style="font-size: 18px; ">Pelayanan Solusi Adil</h1>
										<div class="chart-container"
											style="margin: 0px; padding: 0px; padding-top:25px; ">
											<canvas style="margin: 0px; padding: 0px;" id="statusChart1"></canvas>
											<canvas style="margin: 0px; padding: 0px;" id="statusChart2"></canvas>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="main-sidebar">
								<div class="single-widget recent-post">
									<h3 class="title">Anda Masuk Sebagai </h3>
									<div class="single-post">
										<div class="image">
											<img src="img/favicon.png" alt="#">
										</div>
										<div class="content">
											<h5 style="font-size: 12px;"><a href="#">
													<%= nama %>
												</a></h5>
											<ul class="comment" style="font-size: 12px;">
												<li><i class="fa-solid fa-address-card" aria-hidden="true"></i> ID :
													<%= idMasyarakat %>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="solusiadil-fitur" style="padding-top: 100px;">
				<div class="container">
					<div class="solusiadil-fitur-inner">
						<div class="row">
							<div class="col-lg-4 col-md-6 col-12 ">
								<div class="solusiadil-fitur-single first">
									<div class="inner">
										<div class="icon">
											<i class="fa-solid fa-scale-balanced"></i>
										</div>
										<div class="single-content">
											<h4>Konsultasi Hukum Online</h4>
											<p style="font-size: 12px;">Konsultasi Hukum Online: Solusi cepat dan akurat
												untuk
												setiap permasalahan hukum
												Anda.</p>
											<a href="/konsultasi">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6 col-12">
								<div class="solusiadil-fitur-single middle">
									<div class="inner">
										<div class="icon">
											<i class="fa-solid fa-gavel"></i>
										</div>
										<div class="single-content">
											<h4>Cari Panduan Hukum</h4>
											<p style="font-size: 13px;">Temukan Kepastian Hukum Anda: Cari Panduan Hukum
												yang
												Jelas dan Terpercaya di
												Sini.</p>
											<a href="/panduan">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-12 col-12">
								<div class="solusiadil-fitur-single last">
									<div class="inner">
										<div class="icon">
											<i class="fa-solid fa-folder-open"></i>
										</div>
										<div class="single-content">
											<h4>JDIH</h4>
											<p style="font-size: 12px;">Jelajahi keadilan dan informasi hukum melalui
												JDIH,
												pintu akses utama untuk
												pemahaman dan kepatuhan hukum.</p>
											<a href="/jdih">Pilih Fitur<i class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="Solusiadil-kenapa section-kenapa">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title">
								<h2 style="font-size: 28px;">Kenapa Solusi Adil</h2>
								<i class="fa-solid fa-scale-balanced"></i>
								<p style="font-size: 12px;">Solusi adil memberikan keadilan sejati, menyelaraskan hak
									dan
									kewajiban untuk mewujudkan
									penyelesaian yang berkeadilan.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4 col-12">
							<div class="solusiadil-single-kenapa">
								<div class="signle-icon">
									<i class="fa-solid fa-lock"></i>
								</div>
								<h3 style="font-size: 15px;">Aman</h3>
								<p style="font-size: 12px;">Solusi Adil menjamin keamanan informasi pribadi Anda. Data
									klien
									dijaga secara ketat melalui
									protokol keamanan digital terkini.</p>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="solusiadil-single-kenapa">
								<div class="signle-icon">
									<i class="fa-solid fa-rocket"></i>
								</div>
								<h3 style="font-size: 15px;">Cepat</h3>
								<p style="font-size: 12px;">Solusi Adil menyediakan respon cepat terhadap pertanyaan
									hukum atau
									permintaan bantuan Anda.
								</p>
							</div>
						</div>
						<div class="col-lg-4 col-12">
							<div class="solusiadil-single-kenapa last">
								<div class="signle-icon">
									<i class="fa-solid fa-star"></i>
								</div>
								<h3 style="font-size: 15px;">Terpercaya</h3>
								<p style="font-size: 12px;">Setiap informasi atau panduan yang diberikan berasal dari
									sumber-sumber yang dapat dipercaya.
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="Solusiadil-kenapa section-kenapa">
				<div class="container" style="background-color: black; ">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title" style="padding-top: 35px; color: azure;">
								<i class="fa-solid fa-quote-right"></i>
								<p style="color: azure;">Keadilan, kebenaran, kebebasan, itulah pangkal dari
									kebahagiaan.</p>
								<p style="color: rgba(240, 255, 255, 0.884);">Plato</p>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="solusiadil-galeri section-galeri">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="section-title">
								<h2 style="font-size: 28px;">Galeri</h2>
								<p style="font-size: 13px;">Kami membantu masyarakat untuk menyelesaiakan perkara hukum
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12 col-12">
							<div class="owl-carousel solusiadil-galeri-slider">
								<div class="single-pf">
									<img src="img/g (11).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (12).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (1).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (7).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (8).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (2).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (3).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (6).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (5).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (4).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (9).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (10).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (13).jpg" alt="#">
								</div>
								<div class="single-pf">
									<img src="img/g (14).jpg" alt="#">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<div class="infoberita">
				<div id="marquee-container"></div>
			</div>

			<footer id="akhir" class="footer" style="padding-bottom: 35px;">
				<div class="footer-top">
					<div class="container">
						<div class="row">
							<div class="col-lg-4 col-md-6 col-12">
								<div class="single-footer">
									<h2 style="font-size: 22px;">Solusi Adil</h2>
									<p style="font-size: 12px;">Solusi adil memberikan keadilan sejati, menyelaraskan hak dan
										kewajiban untuk mewujudkan
										penyelesaian perkara hukum yang berkeadilan.</p>
									<ul class="social">
										<li><a href="https://www.facebook.com/solusiadil/"><i class="icofont-facebook"></i></a>
										</li>
										<li><a href="https://www.instagram.com/solusiadil/"><i
													class="icofont-instagram"></i></a></li>
										<li><a href="https://www.youtube.com/solusiadil/"><i class="icofont-youtube"></i></a>
										</li>
										<li><a href="https://www.linkedin.com/in/solusiadil/"><i
													class="icofont-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-12">
								<div class="single-footer f-link">
									<h2>Akses Cepat</h2>
									<div class="row">
										<div class="col-lg-6 col-md-6 col-12">
											<ul>
												<li><a href="/tentangkami"><i class="fa fa-caret-right" aria-hidden="true"></i>
														Solusi
														Adil
													</a></li>
												<li><a href="/layanan"><i class="fa fa-caret-right" aria-hidden="true"></i>
														Pelayanan
													</a></li>
												<li><a href="/faq"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQ </a>
												</li>
												<li><a href="/datablog"><i class="fa fa-caret-right" aria-hidden="true"></i> Blog
													</a>
												</li>
												<li><a href="/kontak"><i class="fa fa-caret-right" aria-hidden="true"></i>
														Kontak
													</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3 col-md-6 col-12">
								<div class="single-footer">
									<h2>Keterangan</h2>
									<p style="font-size: 12px;"> Website Solusi Adil di buat untuk Masyarakat bersifat GRATIS dan Sistem
										pelayanan yang akan digunakan di lingkup Kota Bandung </p><br>
									<p style="font-size: 12px; margin-top: 10px;">
										<a href="https://www.termsfeed.com/live/dd99d68e-ea3f-4b6c-a53c-e58575aa15da" target="_blank">
											<img src="https://img.shields.io/badge/Solusi_Adil_Bimamaarschal-EULA_License-blue" alt="EULA License Badge">
										</a>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 col-md-12 col-12">
								<div class="copyright-content">
									<p style="font-size: 13px;">© Copyright 2024 | Di Rancang dan Di Buat oleh <a
											href="https://www.linkedin.com/in/bimamaarschal/" target="_blank">Bima
											Maarschal</a> </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<%- include('partials/js') %>
			<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
			<script src="js/chartberanda.js"></script>
	</body>

</html>