<!doctype html>
<html class="no-js" lang="bimamaarschal">

<%- include('../partials/head') %>

	<body>
		<%- include('../partials/header2', { activePage: 'konsultasi' }) %>
			<section class="news-single section" style="padding-top: 5px;">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-2">
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<h1 style="font-size: 18px;"><i style="font-size: 25px;" class="fa-solid fa-comments"></i> Detail Konsultasi</h1>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<form class="form" action="/" method="POST">
												<h2 style="display: inline;">Perkara Hukum - ID Konsultasi: <%= konsultasi.id_konsultasi %>
												</h2> <br><br>
												<div class="row">
													<div class="col-lg-6 col-md-6 col-12">
														<div class="form-group">
															<i class="fa fa-user"></i>
															<input id="nama_mast" name="nama_mast" type="text" oninput="validateNama(this)" placeholder="Nama Anda" value="<%= konsultasi.nama_mast %>" readonly>
														</div>
													</div>
													<div class="col-lg-6 col-md-6 col-12">
														<div class="form-group">
															<i class="fa fa-envelope"></i>
															<input id="id_masyarakat" name="id_masyarakat" type="text" placeholder=" ID Masyarakat" value="<%= konsultasi.id_masyarakat %>" readonly>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-12 col-12">
								<div class="row">
									<div class="col-12">
										<div class="comments-form">
											<form class="form" action="/" method="POST">
												<h2 style="display: inline;">Konsultasi diajukan
												</h2> <br><br>
												<div class="row">
													<div class="col-12">
														<div class="form-group">
															<i class="fa-solid fa-scale-balanced"></i>
															<input type="text" name="pertanyaan" placeholder="Pengajuan Pertanyaan Hukum" value="  <%= konsultasi.pertanyaan %>" readonly>
														</div>
													</div>
													<div class="col-12">
														<div class="form-group message">
															<i class="fa fa-pencil"></i>
															<textarea name="keterangan" rows="7" readonly><%= konsultasi.pertanyaan %></textarea>
														</div>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</section>

			<%- include('../partials/footer') %>
			<%- include('../partials/js') %>
	</body>
</html>