<!doctype html>
<html class="no-js" lang="bimamaarschal">

<%- include('../partials/head') %>

<body>

	<%- include('../partials/header2', { activePage: 'blog' }) %>

	<section class="news-single section" style="padding-top: 5px;">
		<div class="container">
			<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
									<h1 class="news-title"><a href="news-single.html"><%= blog.judul %></a></h1>
									<div class="meta">
										<div class="meta-left">
											<span class="author"><a href="#"><img src="img/favicon.png" alt="#"><%= blog.nama_apph%></a></span>
											<span class="date"><i class="fa fa-clock-o"></i><%= blog.tanggal %></span>
										</div>
										<div class="meta-right">
											<span class="views"><i class="fa fa-eye"></i>x Melihat</span>
										</div>
									</div>
									<div class="news-text">
										<blockquote class="overlay">
											<p>
												Dasar Hukum : <%= blog.undang_undang %>
											</p>					
										</blockquote>
										<p>

											<%= blog.isi %>
										</p>
										<blockquote class="overlay">
											<p>
												Referensi : <%= blog.doc_pendukung %>

											</p>					
										</blockquote>
									</div>
									<div class="blog-bottom">
										<ul class="prev-next">
											<li class="prev"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
											<li class="next"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<div class="single-widget recent-post">
								<h3 class="title">Blog Hukum Lainnya</h3>

								<% 
									const lastThreeBlogs = blogData2.slice(-3);
									%>

									<% lastThreeBlogs.forEach(blogss => { %>
									<div class="single-post">
										<div class="image">
										<img src="img/favicon.png" alt="#">
										</div>
										<div class="content">
										<h5><a href="#"><%= blogss.judul %></a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i><%= blogss.tanggal%></li>
										</ul>
										</div>
									</div>
									<% }); %>
							</div>
					
						</div>
					</div>

			</div>
		</div>
	</section>

	<%- include('partials/footer') %>
	<%- include('partials/js') %>

</body>

</html>